<ol class="effects-list">
  {{#each effects as |effect|}}
    <li class="effect flexrow" data-effect-id="{{effect.id}}">
      <img class="effect-icon" src="{{effect.icon}}" width="24" height="24"/>
      <div class="effect-name">{{effect.name}}</div>
      <div class="effect-controls">
        <a class="effect-control" data-action="toggle">
          <i class="fas {{#if effect.disabled}}fa-toggle-off{{else}}fa-toggle-on{{/if}}"></i>
        </a>
        <a class="effect-control" data-action="edit">
          <i class="fas fa-edit"></i>
        </a>
        <a class="effect-control" data-action="delete">
          <i class="fas fa-trash"></i>
        </a>
      </div>
    </li>
  {{/each}}
</ol>

<button type="button" class="effect-control" data-action="create">
  <i class="fas fa-plus"></i> Add Effect
</button>
